
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=IBM+Plex+Sans+JP&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=WDXL+Lubrifont+SC&family=Zen+Antique+Soft&display=swap');

.card-img {
  max-width: 100%;
  
}

.location-card {
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
  max-width: 600px;
  margin: auto;
  border-radius: 50px;
  overflow: hidden;
  gap: 5px;
}

.img-container {
  background-color: white;
  flex: 1;
  text-align: center;
  
}
.description-container {
  background-color: skyblue;
  flex: 1;
  padding-left: 10px;
  
}

#date {
  font-family: "Zen Antique Soft", sans-serif;
  font-weight: 200;
  font-style: normal; 
  font-size: 0.875rem;
}

#description {
  font-family: "Zen Antique Soft", serif;
  font-weight: 200;
  font-style: normal;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 3rem;
}
